{% extends 'base.html' %}
{% load static %}
{% block body %}
  

		<main class="content">
			<section class="panel">
				<h2>Recently Added</h2>
				<div class="recentslider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
                            {% for movie in recently_added %} 
							    <div class="swiper-slide"><a href="single.html"><img src="{{movie.image.url}}"><h3 class="hometitle">{{movie.title}}</h3></a></div>
                            {% endfor %}
							<div class="swiper-slide"><a href="mostwatched.html"><img src="{% static 'img/others.png' %}"></a></div>
						</div>
						<div class="nextdirection recent-next"><img src="{% static 'img/right-arrow.svg' %}"> </div>
						<div class="leftdirection recent-prev"><img src="{% static 'img/left-arrow.svg' %}"> </div>
					</div>
				</div>
			</section>

			<section class="panel">
				<h2>Most Watched</h2>
				<div class="mostslider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
                            {% for movie in most_watched %} 
							    <div class="swiper-slide"><a href="single.html"><img src="{{movie.image.url}}"><h3 class="hometitle">{{movie.title}}</h3></a></div>
                            {% endfor %}
							<div class="swiper-slide"><a href="mostwatched.html"><img src="{% static 'img/others.png' %}"></a></div>
						</div>
						<div class="nextdirection most-next"><img src="{% static 'img/right-arrow.svg' %}"> </div>
						<div class="leftdirection most-prev"><img src="{% static 'img/left-arrow.svg' %}"> </div>
						<!-- Add Pagination -->
					</div>
				</div>
			</section>

			<section class="panel">
				<h2>Top Rated</h2>
				<div class="topslider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
                            
                            {% for movie in top_rated %}  
							    <div class="swiper-slide"><a href="single.html"><img src="{{movie.image.url}}"><h3 class="hometitle">{{movie.title}}</h3></a></div>
                            {% endfor %}
							<div class="swiper-slide"><a href="mostwatched.html"><img src="{% static 'img/others.png' %}"></a></div>
						</div>
						<div class="nextdirection top-next"><img src="{% static 'img/right-arrow.svg' %}"> </div>
						<div class="leftdirection top-prev"><img src="{% static 'img/left-arrow.svg' %}"> </div>
						<!-- Add Pagination -->
					</div>
				</div>
			</section>

			
		</main>

        {% endblock body %}